@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply min-h-screen;
	@apply px-[2rem];
	@apply py-[1rem];
	background: rgb(29, 29, 52);
	background: -moz-linear-gradient(
		301deg,
		rgba(29, 29, 52, 1) 25%,
		rgba(16, 16, 27, 1) 40%,
		rgba(8, 7, 9, 1) 89%,
		rgba(0, 0, 0, 1) 96%
	);
	background: -webkit-linear-gradient(
		301deg,
		rgba(29, 29, 52, 1) 25%,
		rgba(16, 16, 27, 1) 40%,
		rgba(8, 7, 9, 1) 89%,
		rgba(0, 0, 0, 1) 96%
	);
	background: linear-gradient(
		301deg,
		rgba(29, 29, 52, 1) 25%,
		rgba(16, 16, 27, 1) 40%,
		rgba(8, 7, 9, 1) 89%,
		rgba(0, 0, 0, 1) 96%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d34",endColorstr="#000000",GradientType=1);
}
